.sectionTitle {
  color: #001730;
  font-family: "Cal Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: 0.1px;
  max-width: 648px;
  width: 100%;
  margin: 0 0 20px;
  text-align: left;

  @media (max-width: 600px) {
    font-size: 30px;
    line-height: 38px;
  }
}

.sectionInfo {
  text-align: left;
  color: #3d3d3d;
  font-family: var(--inter-tight);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 177.778% */
  letter-spacing: 0.1px;
  max-width: 648px;
  width: 100%;
  margin: 0 0 60px;

  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px;
  }
}

/* Section Layout */
.section {
  padding: 80px 0 0;
  background: #fff;

  @meida (max-width:600px) {
    padding: 40px 0 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 48px; */
  max-width: 1160px;
  margin: 0 auto;
}

/* Color Grid */
.colorGrid {
  display: grid;
  grid-template-columns: 370px 1fr;
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.colorCard {
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 300px;

  & .colorName {
    font-family: var(--inter-tight);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: 0.1px;
    margin: 0 0 20px;
  }

  & p,
  & span {
    font-family: var(--inter-tight);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.1px;
    text-transform: capitalize;
  }
}

.largeCard {
  max-height: 620px;
  grid-row: span 2;
}

.rightGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

/* Typography Section */
.fontSection {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  border-radius: 16px;
  padding: 48px;

  @media (max-width: 992px) {
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 32px;
  }

  @media (max-width: 600px) {
    margin-top: 24px;
  }
}

.fontLeft {
  max-width: 310px;
  width: 100%;

  & h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.1px;

    & span {
      font-size: 20px;
      line-height: 38px;
      font-weight: 500;
    }
  }

  & p {
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 24px;
  }
}

.bigText {
  font-size: 150px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.666px;

  @media (max-width: 600px) {
    font-size: 60px;
  }
}

.fontRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-between; */
  max-width: 400px;
  width: 100%;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  font-size: 14px;
  color: #5a5a5a;
  font-family: monospace;
  letter-spacing: 2px;
  line-height: 1.8;
  margin-bottom: 24px;

  & span {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: 0.1px;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.secondaryFont {
  margin-top: 20px;

  & h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    /* 118.75% */
    letter-spacing: 0.1px;

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  & p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.1px;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}