.sectionContainer {
  padding: 80px 0;

  @media (max-width: 600px) {
    padding: 40px 0;
  }
}

.sectionHeading {
  & .sectionLabel {
    color: #0075f2;
    text-align: center;
    font-family: var(--font-inter-tight);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    display: block;
  }

  & .sectionTitle {
    max-width: 800px;
    color: #001730;
    text-align: center;
    font-family: "Cal Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.1px;
    margin: 10px auto 40px;

    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 26px;
    }
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
  gap: 20px;

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    background: #fff;
    display: flex;
    /* width: 334px; */
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    height: 100%;

    .cardTitle {
      color: #001730;
      font-family: "Cal Sans";
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0.3px;
      margin: 40px 0 10px;
    }

    .cardInfo {
      color: #3d3d3d;
      font-family: var(--font-inter-tight);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.3px;
    }
  }
}
