.carouselNwhyChooseSection {
  background-color: #152035;
}

.contentContainer {

  & h2 {
    max-width: 709px;
    margin: 0 auto;
    text-align: center;
    color: #fff;

    & span {
      color: var(--primary-blue);
    }
  }

  & p {
    margin-top: 15px;
    text-align: center;
    color: #fff;
  }
}

.mainWrapper {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 600px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 52px;
  gap: 80px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }

  @media (max-width: 600px) {
    margin-top: 25px;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .gridItem {
    max-width: 452px;

    @media (max-width: 600px) {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    & h3 {
      color: #fff;
      margin: 30px 0 20px;
      font-size: 30px;
      line-height: 38px;

      @media (max-width: 600px) {
        font-size: 24px !important;
        line-height: 32px !important;
      }
    }

    & p {
      margin-top: 10px;
      font-weight: 400;
      color: #fff;

      min-height: 144px;
    }

    & ul {
      list-style-type: none;
      margin-top: 20px;

      @media (max-width: 600px) {
        margin-top: 15px;
      }

      & li {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;

        /* typo */
        font-weight: 400;
        margin-bottom: 15px;

        &::before {
          content: '';
          min-width: 24px;
          height: 24px;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='6' fill='%230075F2'/%3E%3Cpath d='M14 7L8.5 12.5L6 10' stroke='white' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          display: block;
          position: relative;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        @media (max-width: 600px) {
          margin-top: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* carousel styling is here*/
.cardContainer {
  width: 100%;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-between;
  height: 750px;
  gap: 30px;

  @media (max-width: 992px) {
    width: calc(100% - 32px);
    margin: 0 auto;
  }


  .logoImg {
    width: auto;
    height: auto;
    max-width: 198px;
    max-height: 99px;
  }

  .contentContainer {
    max-width: 583px;
    text-align: left;
    margin: 50px 0 50px 80px;

    @media (max-width: 992px) {
      margin: 40px 0 40px 40px;
    }

    & h2 {
      color: #fff;
      margin-top: 75px;
      text-align: left;
      white-space: nowrap;
    }

    & p {
      color: #fff;
      margin-top: 20px;
      text-align: left;
    }

    .statsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 75px;

      @media (max-width: 992px) {
        gap: 20px;
      }

      & h4 {
        font-weight: 600;
        color: #fff;

      }

      & p {
        font-weight: 400;
        margin-top: 5px;

      }

      & span {
        width: 1px;
        height: 112px;
        border-right: 1px solid #ffffff4d;
      }
    }

    .technoDiv {
      display: flex;
      gap: 22px;
      max-width: 345px;
      margin-top: 79px;

      & h5 {
        color: #fff;
        font-weight: 500;

      }

      & .toolsDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & span {
          background-color: #ffffff33;
          width: 1px;
          height: 30px;
        }
      }
    }
  }

  .assetsImg {
    width: 58.4%;
    height: auto;
    object-fit: contain;

    &:nth-child(2) {
      padding-right: 20px;
    }
  }
}

.carouselWrapper {
  display: block;

  @media (max-width: 600px) {
    display: none;
  }
}