.WhatWeDeliverSection {
  background-color: #fff;
  padding: 80px 0;

  @media (max-width: 600px) {
    padding: 40px 0;
  }
}

.headingSection {
  margin-bottom: 40px;
  .sectionLabel {
    color: #0075f2;
    text-align: center;
    font-family: var(--font-inter-tight);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    text-transform: uppercase;
    display: block;
  }

  .sectionTitle {
    color: #001730;
    text-align: center;
    font-family: "Cal Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    letter-spacing: 0.1px;
    max-width: 541px;
    margin: 10px auto 20px;

    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 48px;
    }
    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 38px;
    }
  }
  .sectionInfo {
    color: #3d3d3d;
    text-align: center;
    font-family: var(--font-inter-tight);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.3px;
    max-width: 527px;
    margin: 0 auto;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(334px, 1fr));
  gap: 20px;
  width: 100%;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .card {
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 30px 30px 17px;

    @media (max-width: 600px) {
      padding: 24px 24px 16px;
    }

    & .iconWrapper {
      margin-bottom: 40px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }

    & .cardTitle {
      color: #001730;
      font-family: "Cal Sans";
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 38px; /* 126.667% */
      letter-spacing: 0.3px;
      margin: 0 0 10px;
      width: 80%;

      @media (max-width: 600px) {
        font-size: 18px;
        line-height: 26px;
        width: 100%;
      }
    }

    & .cardDescription {
      color: #3d3d3d;
      font-family: var(--font-inter-tight);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.3px;
      min-height: 144px;

      @media (max-width: 600px) {
        min-height: auto;
      }
    }

    & .tagsContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 6px 5px;
      margin-top: 20px;
      min-height: 64px;

      @media (max-width: 600px) {
        min-height: auto;
        gap: 6px;
      }

      .tag {
        display: inline-flex;
        height: fit-content;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: #deeeff;
        color: #001730;
        font-family: var(--font-inter-tight);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.3px;
      }
    }

    & .exploreLink {
      padding: 20px 0 0;
      margin-top: 26px;
      border-top: 1px solid #dee9f4;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #001730;
      font-family: var(--font-inter-tight);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.3px;

      & svg path {
        stroke-width: 1.4px;
      }

      @media (max-width: 600px) {
        padding: 10px 0 0;
        margin-top: 16px;
      }
    }
  }
}
