.loopingCarouselWrapper {
  overflow: hidden;
  max-height: 1578px;
  border-radius: 12px;
}

.wrapper {
  background-color: #EEEAE2;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
  /* DIR || POS  */
  display: flex;
  flex-direction: column;
  gap: var(--lc-gap, 16px);
}

.row {
  display: flex;
  align-items: center;
  width: max-content;
  will-change: transform;
}

.rowLeft {
  animation: scrollLeft var(--lc-speed, 20s) linear infinite;
}

.rowRight {
  animation: scrollRight var(--lc-speed, 20s) linear infinite;
}

/* ==== on hover pause ==== */
/* .row:hover {
  animation-play-state: paused;
} */

.slide {
  flex-shrink: 0;
  margin-right: var(--lc-gap, 16px);
  height: var(--lc-img-height, 220px);
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* .slide:hover {
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
} */

.slide img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}