.CustomMarketplacesDeliveredSection {
  padding: 80px 0;
  background-color: #000d19;

  @media (max-width: 600px) {
    padding: 40px 0;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
    /* justify-content: center;
    text-align: center; */
  }

  .sectionLabel {
    color: #0075f2;
    font-family: var(--font-inter-tight);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  .sectionTitle {
    color: #fff;
    font-family: "Cal Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
    letter-spacing: 0.1px;
    text-align: left;

    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .navContainer {
    display: flex;
    align-items: center;
    gap: 10px;

    .navBtn {
      border: none;
      background-color: transparent;

      & svg {
        & path,
        & circle {
          stroke: #ffffff80;
        }
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}

.deliveredProjectsSwiper {
  & .card {
    padding: 30px;
    border-radius: 16px;
    position: relative;

    .cardTop {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0 0 20px;

      .iconContainer {
        width: 72px;
        height: 72px;
        border-radius: 12px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

      .cardTitle {
        color: #fff;
        font-family: "Cal Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        letter-spacing: 0.3px;
      }
    }

    .cardDesc {
      color: #fff;
      font-family: var(--font-inter-tight);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.3px;
      min-height: 96px;
      margin: 0 0 20px;
    }

    .cardStack {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 35px;

      & svg path {
        fill: #fff;
      }

      .tech {
        color: #fff;
        font-family: var(--font-inter-tight);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.3px;
        width: 100%;

        & svg {
          display: block;
          width: 24px;
          height: 24px;
          margin-bottom: 10px;
        }
      }
    }

    .line {
      height: 60px;
      width: 1px;
      background: rgba(255, 255, 255, 0.1);
      display: block;
      margin-right: 30px;
    }

    .imgContainer {
      max-width: 392px;
      width: 100%;
      height: 200px;
      position: relative;
      border-radius: 12px;
      overflow: hidden;

      & img {
        width: 100% !important;
        object-fit: cover;
      }
    }
  }
}

.ctaContainer {
  margin: 40px auto 0;
  width: fit-content;

  .ctaBtn {
    border-radius: 10px;
    background: #0075f2;
    color: #fff;
    font-family: var(--font-inter-tight);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 164.706% */
    letter-spacing: 0.3px;
    display: inline-flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border: none;

    & svg path {
      stroke-width: 1.8px;
    }
  }
}

.InsightGig {
  background: #0d5df0;
}

.Popseekl {
  background-color: #181817;
}

.Sbonssy {
  background: #320d1e;
}
