.WhyWeDontDo {
    background-color: #001730;
    padding: 80px 0;

    @media (max-width:600px) {
        padding: 40px 0;
    }
}

.flexBoxContainer {
    display: flex;
    justify-content: space-between;

    @media (max-width:992px) {
        flex-direction: column;
        gap: 50px;
    }
}

.leftContainer {
    max-width: 648px;
    width: 100%;
    position: relative;
    height: fit-content;

    @media (max-width:992px) {
        max-width: 100%;
    }

    .sectionTitle {

        font-weight: 700;
        font-size: 45px;
        line-height: 54.5px;
        letter-spacing: 0.6px;
        margin: 0 0 20px;
        color: #fff;
        text-align: left;

        @media (max-width:600px) {
            font-size: 32px;
            line-height: 38px;
        }
    }

    .sectionInfo {
        font-weight: 400;
        font-size: 16px !important;
        line-height: 24px !important;
        letter-spacing: 0.3px;
        margin: 0 0 40px;
        color: #fff;
        text-align: left;
        max-width: 540px;
        width: 100%;

        @media (max-width:600px) {
            margin: 0 0 30px;
        }
    }


    .ptContainer {
        .ptContainerHeading {

            font-weight: 500;
            font-size: 20px !important;
            line-height: 28px !important;
            letter-spacing: 0.1px;
            color: #fff;
            margin: 0 0 30px;

            @media (max-width:600px) {
                margin: 0 0 20px;
            }
        }

        & ul {
            list-style: none;
            margin: 0 0 0;
            padding: 0;

            & li {
                position: relative;

                font-weight: 500;
                font-size: 16px !important;
                line-height: 24px !important;
                letter-spacing: 0.1px;
                color: #fff;
                padding-left: 24px;
                margin-bottom: 16px;

                @media (max-width:600px) {
                    margin-bottom: 10px;
                }

                &:last-child {
                    margin-bottom: 0;
                }


                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    background-color: #fff;
                    border-radius: 100px;
                }
            }
        }

        & .btnNicon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 504px;

            & .redirectBtn {
                background-color: #0075F2;
                color: #fff;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                width: fit-content;
                max-height: 48px;
                padding: 10px 20px;

                font-weight: 600;
                font-size: 17px;
                line-height: 28px;
                letter-spacing: 0px;
                border-radius: 10px;

                @media (max-width:992px) {
                    margin-top: 30px;
                }

                @media (max-width:600px) {
                    width: 100%;
                }
            }

            & .curleArrow {
                @media (max-width:992px) {
                    display: none;
                }
            }

        }
    }
}


.rightContainer {
    max-width: 688px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    overflow: hidden;
    height: fit-content;
    padding: 12px;
    background-color: #fff;

    @media (max-width:992px) {
        max-width: 100%;
    }

    @media (max-width:600px) {
        display: flex;
        flex-direction: column-reverse;
    }

    .fixedScope {
        background-color: #0075F2;
        border-radius: 16px;
        overflow: hidden;

        @media (max-width:600px) {
            padding: 0 20px;
        }

        .title {

            text-align: center;
            font-weight: 600;
            font-size: 20px !important;
            line-height: 28px !important;
            letter-spacing: 0.3px;
            color: #fff;
            border-bottom: 1px solid #D4E9FF;
            padding: 30px 0;

            @media (max-width:600px) {
                padding: 20px 15px 16px;
                text-align: left;
            }
        }

        .pt {
            list-style: none;
            margin: 0;
            padding: 0;

            & li {
                padding: 30px;
                border-bottom: 1px solid #D4E9FF;

                font-weight: 500;
                font-size: 16px !important;
                line-height: 24px !important;
                letter-spacing: 0.1px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #fff;

                @media (max-width:600px) {
                    padding: 16px 15px;
                }

                &::before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6693 5L7.5026 14.1667L3.33594 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    min-width: 20px;
                    width: 20px;
                    height: 20px;
                    display: block;
                }

                &:last-child {
                    border-bottom: 0;
                }
            }

        }
    }

    .OpenEnded {
        background-color: #FFFFFF;

        .title {
            color: #001730;

            font-weight: 600;
            font-size: 20px !important;
            line-height: 28px !important;
            letter-spacing: 0.1px;
            padding: 30px;
            border-bottom: 1px solid #D4E9FF;

            @media (max-width:600px) {
                padding: 16px 15px;
                text-align: left;
            }
        }

        .pt {
            & li {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 30px;

                font-weight: 500;
                font-size: 16px !important;
                line-height: 24px !important;
                letter-spacing: 0.3px;
                color: #1B1B1B;
                border-bottom: 1px solid #D4E9FF;

                @media (max-width:600px) {
                    padding: 12px 15px;

                }

                &:last-child {
                    border-bottom: 0;

                    @media (max-width:600px) {
                        padding: 12px 15px 4px;
                    }
                }


                &::before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 5L5 15' stroke='%23FA303F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 5L15 15' stroke='%23FA303F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    min-width: 20px;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
            }
        }

    }
}