.sharetribeFeatureShareTribeExtension {
  padding: 80px 0 0;

  @media (max-width: 600px) {
    padding: 40px 0 0;
  }

  & .moduleText {
    font-size: 16px;
    font-weight: 500;
    color: #0075f2;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-family: var(--font-inter-tight), sans-serif;
  }

  & .sectionTitle {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #001730;
    margin: 0 0 20px;
    font-family: "Cal Sans", sans-serif;

    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 44px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  & .sectionInfo {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #3d3d3d;
    max-width: 60%;
    margin: 0 auto;
    font-family: var(--font-inter-tight), sans-serif;

    @media (max-width: 768px) {
      max-width: 80%;
    }

    @media (max-width: 600px) {
      max-width: 100%;
      font-size: 16px;
      line-height: 24px;
    }
  }

  & .tabs {
    gap: 15px;
    display: flex;
    margin: 50px 0 40px;
    align-content: center;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      gap: 12px;
    }

    @media (max-width: 768px) {
      gap: 10px;
      margin: 40px 0 30px;
      justify-content: center;
    }

    @media (max-width: 600px) {
      gap: 8px;
      margin: 30px 0 20px;
      flex-direction: column;
    }

    & .tab {
      padding: 12px 20px;
      width: fit-content;
      border-radius: 12px;
      background-color: #fff;
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid #d1d1d1;
      transition: all ease-in-out 0.3s;
      cursor: pointer;
      min-width: 140px;
      justify-content: center;

      @media (max-width: 992px) {
        min-width: 120px;
        padding: 10px 16px;
        flex: 1;
      }

      @media (max-width: 768px) {
        padding: 12px 16px;
        flex-direction: column;
        text-align: center;
        gap: 8px;
        min-height: 80px;
        min-width: 100px;
        flex: 1;
        max-width: 150px;
      }

      @media (max-width: 600px) {
        padding: 16px 20px;
        width: 100%;
        min-height: 70px;
        min-width: auto;
        max-width: none;
        flex-direction: row;
        justify-content: flex-start;
      }

      & .icon {
        width: 32px;
        min-width: 32px;
        height: 32px;
        border-radius: 100px;
        /* background-color: #d7dde8; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        @media (max-width: 768px) {
          width: 28px;
          min-width: 28px;
          height: 28px;
        }

        @media (max-width: 600px) {
          width: 24px;
          min-width: 24px;
          height: 24px;
        }
      }

      & span {
        color: #949494;
        font-family: var(--font-inter-tight), sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        white-space: nowrap;
        transition: color 0.3s ease;

        @media (max-width: 992px) {
          font-size: 14px;
          line-height: 20px;
        }

        @media (max-width: 768px) {
          font-size: 13px;
          line-height: 18px;
          white-space: normal;
        }

        @media (max-width: 600px) {
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
        }
      }

      &:hover {
        /* background-color: #F5FAFF; */
        cursor: pointer;
      }
    }

    & .activeTab {
      background-color: #0075f2;

      & span {
        color: #fff;
      }

      & .icon {
        & path {
          fill: #fff;
        }

        /* background-color: #0075f2; */
      }
    }
  }
}

.accordionCard {
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 30px 0px #0000000d;
  width: 100%;
  margin-bottom: 30px;
  padding: 32px 32px 32px 32px;
  position: relative;

  @media (max-width: 992px) {
    padding: 24px 60px 24px 24px;
  }

  @media (max-width: 768px) {
    padding: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    padding: 16px;
    margin-bottom: 16px;
  }

  .indicator {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #003b79;
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: #fff;
    cursor: pointer;
    z-index: 10;

    @media (max-width: 992px) {
      width: 32px;
      height: 32px;
      right: 20px;
      top: 20px;
    }

    @media (max-width: 768px) {
      width: 28px;
      height: 28px;
      right: 18px;
      top: 18px;
      border-width: 1.5px;
    }

    @media (max-width: 600px) {
      width: 24px;
      height: 24px;
      right: 16px;
      top: 16px;
      border-width: 1px;
    }

    & svg {
      width: 16px;
      height: 16px;
      transition: all 0.3s ease;

      @media (max-width: 768px) {
        width: 14px;
        height: 14px;
      }

      @media (max-width: 600px) {
        width: 12px;
        height: 12px;
      }

      & path {
        stroke: #003b79;
        stroke-width: 2.5;
        transition: stroke 0.3s ease;

        @media (max-width: 600px) {
          stroke-width: 2;
        }
      }
    }

    &:hover {
      background-color: #f8fbff;
      border-color: #0075f2;
      transform: scale(1.05);

      & svg path {
        stroke: #0075f2;
      }
    }
  }

  &.open .indicator {
    transform: rotate(180deg);
    background-color: #003b79;
    border-color: #003b79;

    & svg path {
      stroke: #fff;
    }

    &:hover {
      background-color: #0075f2;
      border-color: #0075f2;
      transform: rotate(180deg) scale(1.05);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .accordionHeader {
    background-color: transparent;
    width: 100%;
    border: none;
    border-radius: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1300px) {
      gap: 80px;
    }

    @media (max-width: 992px) {
      gap: 40px;
    }

    @media (max-width: 768px) {
      gap: 20px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 16px;
      justify-content: flex-start;
    }

    & .headerTitle {
      width: 100%;
      max-width: 448px;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      & .tabName {
        font-family: var(--font-inter-tight), sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #0075f2;
        margin-bottom: 6px;

        @media (max-width: 600px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      & h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.3px;
        margin: 0 0 10px;
        text-align: left;
        color: #001730;

        @media (max-width: 992px) {
          font-size: 26px;
          line-height: 34px;
        }

        @media (max-width: 768px) {
          font-size: 22px;
          line-height: 30px;
        }

        @media (max-width: 600px) {
          font-size: 20px;
          line-height: 28px;
          max-width: 90%;
          margin: 0 0 8px;
        }
      }

      & p {
        text-align: left;
        font-family: var(--font-inter-tight), sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #3d3d3d;

        @media (max-width: 600px) {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }

    & .accordionRightBar {
      max-width: 560px;
      width: 100%;
      height: 100%;
      border-left: 1px solid #f7f6f6;

      @media (max-width: 768px) {
        border-left: none;
        border-top: 1px solid #f7f6f6;
        padding-top: 16px;
      }

      @media (max-width: 600px) {
        max-width: 100%;
      }

      & .availabilityRow {
        display: flex;
        align-items: center;
        padding-left: 60px;
        padding-top: 16px;
        justify-content: space-between;
        border-top: 1px solid #f7f6f6;
        gap: 20px;

        @media (max-width: 768px) {
          padding-left: 0;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
        }

        & .availabilitySetup {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.3px;
          color: #3d3d3d;
          font-family: var(--font-inter-tight), sans-serif;

          @media (max-width: 600px) {
            font-size: 13px;
            line-height: 18px;
          }
        }

        & a {
          color: #003b79;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          padding: 12px 20px;
          letter-spacing: 0.3px;
          border-radius: 12px;
          background-color: #eef6ff;
          text-align: center;
          font-family: var(--font-inter-tight), sans-serif;

          @media (max-width: 600px) {
            font-size: 13px;
            padding: 10px 16px;
            width: 100%;
          }
        }
      }
    }

    .headerInfo {
      display: grid;
      padding-bottom: 16px;
      padding-left: 60px;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 768px) {
        padding-left: 0;
        gap: 16px;
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 12px;
      }

      .verticalBar {
        background-color: #e5e5e5;
        width: 1px;
        min-height: 65px;
        height: 100%;
        margin: 0 60px;

        @media (max-width: 992px) {
          margin: 0 54px 0 0;
        }

        @media (max-width: 600px) {
          margin: 16px 0;
          width: 100%;
          height: 1px;
          min-height: 1px;
        }
      }

      .investment,
      .delivery {
        & p {
          color: #3d3d3d;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.3px;
          text-align: left;
          margin: 0 0 6px;
          font-family: var(--font-inter-tight), sans-serif;
          display: flex;
          align-items: center;
          gap: 6px;

          @media (max-width: 600px) {
            margin: 0;
          }
        }

        & span {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.1px;
          color: #003b79;
          text-align: left;
          display: block;
          font-family: var(--font-inter-tight), sans-serif;

          @media (max-width: 600px) {
            font-size: 24px;
            line-height: 28px;
          }

          @media (max-width: 992px) {
            font-size: 24px;
            line-height: 32px;
            text-align: left;
            display: block;
          }

          @media (max-width: 600px) {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .accordionContent {
    background-color: #eff7ff;
    border: 1px solid #e0e6ed;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 32px;
    transition:
      max-height ease-in-out 0.6s,
      padding ease-out 0.1s;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 32px;
    }

    @media (max-width: 768px) {
      padding: 24px;
      gap: 24px;
    }

    @media (max-width: 600px) {
      padding: 20px;
      gap: 20px;
    }

    .content {
      max-width: 413px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      & .detailTitle {
        font-weight: 600;
        font-size: 20px !important;
        line-height: 28px !important;
        letter-spacing: 0.1px;
        color: #1b1b1b;
        margin: 0 0 30px;

        @media (max-width: 768px) {
          font-size: 18px !important;
          line-height: 26px !important;
          margin: 0 0 24px;
        }

        @media (max-width: 600px) {
          margin: 0 0 20px;
        }
      }

      & ul {
        margin: 0;
        padding: 0;
        list-style: none;

        & li {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          margin-bottom: 16px;
          font-size: 16px !important;
          line-height: 24px !important;

          @media (max-width: 768px) {
            font-size: 15px !important;
            line-height: 22px !important;
            margin-bottom: 14px;
          }

          @media (max-width: 600px) {
            margin-bottom: 12px;
            gap: 12px;
          }

          &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6693 5L7.5026 14.1667L3.33594 10' stroke='%230075F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            width: 20px;
            height: 20px;
            display: block;
            flex-shrink: 0;

            @media (max-width: 600px) {
              width: 16px;
              height: 16px;
              background-size: 16px 16px;
            }
          }
        }
      }

      .watchVideoBtn {
        background-color: #0075f2;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: fit-content;

        font-weight: 600;
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0px;
        color: #fff;
        padding: 10px 20px;
        max-height: 48px;
        border-radius: 10px;

        @media (max-width: 768px) {
          margin-top: 16px;
          max-width: 100%;
          width: 100%;
          font-size: 16px;
        }

        @media (max-width: 600px) {
          margin-top: 20px;
          max-width: 100%;
          width: 100%;
        }
      }
    }

    .accordionImg {
      width: 100%;
      max-width: 530px;
      height: 350px;
      position: relative;

      @media (max-width: 992px) {
        max-width: 100%;
      }

      @media (max-width: 768px) {
        height: 280px;
      }

      @media (max-width: 600px) {
        width: 100%;
        height: 200px;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .showContent {
    height: 100%;
    min-height: 100%;
    max-height: 99rem;
    visibility: visible;
    margin: 30px 0 0;
  }

  .hideContent {
    height: 0;
    min-height: 0;
    max-height: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

/* CustomFeatureBanner.module.css */

.banner {
  margin: 40px auto 0;
  padding: 32px 34px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background: linear-gradient(90deg, #00427f 0%, #000d19 100%);

  @media (max-width: 992px) {
    padding: 28px 30px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 20px;
  }

  @media (max-width: 600px) {
    padding: 20px;
    margin: 30px auto 0;
  }
}

.content {
  max-width: 620px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.content h2 {
  color: #ffffff;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 0.1px;

  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 34px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.content p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  @media (max-width: 600px) {
    font-size: 15px;
    line-height: 22px;
  }
}

.cardButton {
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;

  padding: 18px 28px;
  border-radius: 12px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: none;
  background: linear-gradient(90deg, #1e90ff 0%, #ff633d 100%);
  transition: transform 0.25s ease;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
    padding: 16px 24px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
    padding: 10px 20px;
  }
}

.cardButton:hover {
  transform: translateY(-2px);
}

.cardButton span {
  font-size: 18px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
  }

  .content {
    max-width: 100%;
  }

  .cardButton {
    width: 100%;
    justify-content: center;
  }
}

.tabContainer {
  max-width: 1160px;
  margin: 0 auto;
}