.weProvideShareTribeExtension {
    padding: 80px 0;

    @media (max-width: 600px) {
        padding: 40px 0;
    }
}

.sectionTitle {
    
    font-weight: 700;
    font-size: 45px;
    line-height: 54.5px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #1B1B1B;
    max-width: 931px;
    margin: 0 auto 52px;

    @media (max-width:600px) {
        font-size: 32px;
        line-height: 38px;
    }

    .featureModules {
        position: relative;
        color: #0075F2;

        &::after {
            content: "";
            position: absolute;
            right: -88px;
            bottom: -24px;
            background-image: url("data:image/svg+xml,%3Csvg width='190' height='13' viewBox='0 0 190 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.267517 10.5581C43.9049 2.97751 116.656 -2.54253 189.268 5.55835' stroke='%23F16319' stroke-width='3.125'/%3E%3C/svg%3E%0A");
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;

            @media (max-width:600px) {
                right: 6px;
                bottom: -9px;
                width: 131px;
                height: 13px;
            }
        }
    }
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width:992px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width:600px) {
        grid-template-columns: 1fr;
    }


    & .card {
        padding: 30px 40px;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        overflow: hidden;

        @media (max-width:600px) {
            padding: 20px;
        }

        .cardIcon img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            position: relative;

            @media (max-width: 992px) {
                width: 60px;
                height: 60px;
            }

            @media (max-width: 600px) {
                width: 40px;
                height: 40px;
            }
        }

        .cardTitle {
            
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.1px;
            color: #1B1B1B;
            margin: 30px 0 16px;

            @media (max-width:600px) {
                margin: 30px 0 10px;
                font-size: 20px !important;
                line-height: 28px !important;
            }
        }

        .cardDescription {
            font-family: 'Inter Tight', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #323E4F;
        }
    }

    & .card-0 {
        background: linear-gradient(181.99deg, rgba(255, 255, 255, 0) 3.61%, rgba(255, 255, 255, 0.5) 50.97%, #EFF7FF 98.32%);

    }

    & .card-1 {
        background: linear-gradient(181.99deg, rgba(255, 255, 255, 0) 3.61%, rgba(255, 255, 255, 0.5) 50.97%, #F3F0FF 98.32%);

    }

    & .card-2 {
        background: linear-gradient(181.99deg, rgba(255, 255, 255, 0) 3.61%, rgba(255, 255, 255, 0.5) 50.97%, #F1FFCA 98.32%);

    }
}

.infoText {
    
    font-weight: 600;
    font-size: 24px !important;
    line-height: 32px !important;
    letter-spacing: 0.1px;
    text-align: center;
    color: #003B79;
    margin: 40px 0 0;

    @media (max-width:600px) {
        margin: 30px 0 0;
        font-size: 20px !important;
        line-height: 24px !important;
    }
}

.redirectBtn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 20px auto 0;
    width: fit-content;
    position: relative;
    padding: 12px 24px;
    border-radius: 999px;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(270deg, #F16319 0%, #0075F2 100%) border-box;
    border: 1.5px solid transparent;
    transition: all 0.3s ease;
}

.redirectBtn:hover {
    background:
        linear-gradient(270deg, #F16319 0%, #0075F2 100%) padding-box,
        linear-gradient(270deg, #F16319 0%, #0075F2 100%) border-box;
    color: #fff;

    & svg path {
        fill: #fff;
    }
}