.caseStudyContainer {
  /* --commonHeight: 40%; */
  background-color: #000D19;
  padding: 80px 0;

  @media (max-width: 992px) {
    padding-bottom: 40px;
  }

  & .caseStudyCarouselContainer {
    position: relative;

    & .caseStudyHead {
      margin-bottom: 40px;

      & .caseStudySmall {
        font-size: 16px;
        font-weight: 500;
        color: #0075F2;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        font-family: 'Inter Tight', sans-serif;
      }

      & .caseStudyLarge {
        font-size: 42px;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 10px;
        line-height: 52px;
        letter-spacing: 0.1px;
        font-family: 'Cal Sans', sans-serif;

        @media(max-width: 960px) {
          font-size: 36px;
          line-height: 40px;
        }

        @media(max-width: 768px) {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }

    & .contentNimgContainer {
      width: 100%;
      display: flex;
      gap: 0;
      padding: 30px;
      border-radius: 16px;
      flex-direction: column;
      justify-content: space-between;
      /* max-height: 592px; */

      @media (max-width: 992px) {
        flex-direction: column;
        max-height: 100%;
      }

      @media (max-width: 600px) {
        padding: 20px;
        justify-content: space-between;
      }

      & .carouselContentWrapper {
        width: 100%;
        /* margin-top: 30px; */
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 992px) {
          width: 100%;
        }

        & span {

          font-weight: 500;
          color: var(--primary-blue);

          @media (max-width: 992px) {
            text-align: center;
            display: block;
          }
        }

        & .topbarHead {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          gap: 20px;

          & h4 {
            color: #fff;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.3px;
            font-family: 'Cal Sans', sans-serif;
          }
        }

        & .listBox {
          display: flex;
          margin: 40px 0 50px;

          & .boxCard {
            flex: 1;

            &:not(:first-child) {
              padding-left: 30px;
              border-left: 1px solid #FFFFFF1A;
            }

            & .boxText {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.3px;
              color: #fff;
              margin-top: 10px;
              font-family: 'Inter Tight', sans-serif;
            }
          }
        }

        & p {
          font-weight: 400;
          color: #ffffff;
        }

        & .infoContentWrapper {
          margin-top: 48.82px;
          width: 90%;

          @media (max-width: 992px) {
            width: 100%;
            margin-top: 30px;
          }

          @media (max-width: 600px) {
            max-width: 310px;
            margin: 37px auto 0;
          }

          & span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.3px;
            color: #fff;

            @media (max-width: 992px) {
              text-align: left;
            }
          }

          .infoContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #ffffff;
            width: 90%;

            @media (max-width: 992px) {
              width: 50%;
              margin: auto;
            }

            @media (max-width: 600px) {
              width: 100%;
            }

            & span {
              height: 101px;
              width: 1px;
              background-color: #323232;

              @media (max-width: 992px) {
                height: 101px;
              }
            }

            & .report {
              margin-top: 10px;

              & h4 {

                font-weight: 600;
                text-align: left;
                color: #ffffff;
                margin: 0;

                @media (max-width: 992px) {
                  text-align: center;
                }
              }

              & p {
                white-space: nowrap;
                font-weight: 400;
                color: #ffffff;
                margin-top: 5px;

                @media (max-width: 992px) {
                  text-align: center;
                }
              }
            }
          }
        }

        & .btnContainer {
          display: flex;
          gap: 10px;
          margin-top: 52px;
          margin-bottom: 110px;

          @media (max-width: 992px) {
            display: none;
          }

          .secondayBtn {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            gap: 10px;
            border: 1px solid #ffffff;
            color: #fff;
            background: transparent;
            border-radius: var(--borderRadius);

            & svg {
              transition: all ease-in-out 0.3s;
            }

            &:hover {
              & svg {
                rotate: 45deg;
              }
            }
          }
        }
      }

      & .carouselContainer {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: end;

        @media (max-width: 992px) {
          width: 100%;
          margin-top: 0;
          border-radius: var(--borderRadiusMobile);
        }

        .carouselImgContainer {
          position: relative;
          /* height: 543px; */
          /* height: calc(100% - 44px); */
          width: 100%;
          /* margin-top: 50px; */
          height: 200px;
          /* margin-bottom: 42px; */

          @media (max-width: 992px) {
            /* height: 543px; */
          }

          @media (max-width: 600px) {
            /* height: 255px; */
            margin-bottom: 0;
          }

          & img {
            border-radius: 16px;
            width: 100%;

            @media (max-width: 992px) {
              height: 100%;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

.navigationBtn {
  display: flex;
  gap: 10px;
  /* margin-top: 31.18px; */
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 5;

  @media (max-width: 992px) {
    display: none;
  }

  & .previewBtn {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='46' viewBox='0 0 45 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22.5' cy='22.9922' r='22' stroke='white' stroke-opacity='0.5'/%3E%3Cpath d='M31.9102 23.3984L13.9102 23.3984' stroke='white' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.6367 17.6719L13.9094 23.3991L19.6367 29.1264' stroke='white' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 99rem;
    height: 45px;
    border: 0;
    cursor: pointer;
  }

  & .nextBtn {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='46' viewBox='0 0 45 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22.5' cy='22.9922' r='22' stroke='white' stroke-opacity='0.5'/%3E%3Cpath d='M31.9102 23.3984L13.9102 23.3984' stroke='white' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.6367 17.6719L13.9094 23.3991L19.6367 29.1264' stroke='white' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: scaleX(-1);
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 99rem;
    height: 45px;
    border: 0;
    cursor: pointer;
  }
}

.progressBar {
  width: 60%;
  height: 1px;
  overflow: visible;
  background-color: var(--bg-cream);
  margin-left: auto;
  margin-right: 0;

  @media (max-width: 992px) {
    width: 100%;
    margin-top: 26px;
  }

  & .progressingBar {
    height: 2px;
    background-color: #0075f2;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: -1px;
  }
}

.allCases {
  margin-top: 40px;
  text-align: center;

  & button {
    color: #fff;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    padding: 10px 20px;
    border-radius: 10px;
    letter-spacing: 0.3px;
    background-color: #0075F2;
    border: 1px solid #0075F2;
    font-family: 'Inter Tight', sans-serif;
  }
}

.redirectBtn {
  width: fit-content;
  padding: 12px 26px;
  display: flex;
  margin: 0 auto;
}