.CustomMarketplaceFormSection {
  padding: 80px 0;
  background-color: #000d19;
  overflow: hidden;

  @media (max-width: 600px) {
    padding: 40px 0;
  }

  .ItemWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 30px;
    }

    .formContent {
      .formLabel {
        color: #0075f2;
        text-align: center;
        font-family: var(--font-inter-tight);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
      }

      .formHeading {
        color: #fff;
        font-family: "Cal Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        /* 116.667% */
        letter-spacing: 0.1px;
        margin: 10px 0 20px;
        text-align: left;

        @media (max-width: 600px) {
          font-size: 30px;
          line-height: 38px;
        }
      }

      .formInfo {
        color: #fff;
        font-family: var(--font-inter-tight);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 175% */
        letter-spacing: 0.3px;
        margin: 0 0 30px;
        text-align: left;
        max-width: 530px;
      }

      .formPointsHeading {
        color: #0ca471;
        font-family: "Cal Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 155.556% */
        letter-spacing: 0.1px;
        margin: 0 0 20px;
        text-align: left;
      }

      .formPoints {
        & li {
          color: #fff;
          font-family: var(--font-inter-tight);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.3px;
          position: relative;
          display: flex;
          align-items: flex-start;
          gap: 16px;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            content: "";
            min-width: 20px;
            height: 20px;
            position: relative;
            display: block;
            margin-top: 4px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='6' fill='%230CA471'/%3E%3Cpath d='M14 7L8.5 12.5L6 10' stroke='white' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }

    .formContainer {
      position: relative;
      overflow: hidden;
      max-width: 648px;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 12px;
      padding: 30px;

      @media (max-width: 992px) {
        max-width: 100%;
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        transform: rotate(-41.48deg);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='782' height='485' viewBox='0 0 782 485' fill='none'%3E%3Cg filter='url(%23filter0_f_16387_9542)'%3E%3Cpath d='M640.946 126.78C673.121 155.226 691.411 278.269 478.87 363.87C81.7214 311.639 156.256 212.57 124.082 184.125C91.9067 155.679 320.697 228.722 391.878 184.125C516.946 184.125 608.772 98.3346 640.946 126.78Z' fill='%230075F2' fill-opacity='0.8'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_16387_9542' x='0' y='0' width='781.471' height='484.87' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60.5' result='effect1_foregroundBlur_16387_9542'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        opacity: 0.7;
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: calc(50% + (-100px));
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='568' height='394' viewBox='0 0 568 394' fill='none'%3E%3Cg filter='url(%23filter0_f_16387_9544)'%3E%3Cpath d='M445.525 126.98C436.688 101.848 379.732 163.077 299.673 178.669C219.613 194.262 112.678 181.093 121.514 206.225C130.351 231.356 249.27 285.727 331.673 269.679C421.737 252.138 454.361 152.112 445.525 126.98Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_16387_9544' x='0' y='0' width='567.918' height='393.591' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60.5' result='effect1_foregroundBlur_16387_9544'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        opacity: 0.5;
      }

      & .inputContainer {
        margin-bottom: 20px;
        z-index: 2;
        position: relative;
        width: 100%;

        & label {
          color: #fff;
          font-family: var(--font-inter-tight);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          /* 150% */
          letter-spacing: 0.3px;
          display: block;
          margin-bottom: 8px;
        }

        & input,
        & textarea {
          width: 100%;
          border-radius: 12px;
          border: 1px solid rgba(255, 255, 255, 0.15);
          padding: 12px 20px;
          align-items: center;
          color: #fff;
          background-color: transparent;
          min-height: 48px;

          &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            font-family: var(--font-inter-tight);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.3px;
          }
        }

        & textarea {
          min-height: 150px;
        }
      }

      .rowContainer {
        display: flex;
        gap: 20px;
        width: 100%;

        @media (max-width: 600px) {
          flex-direction: column;
        }
      }

      .submitBtn {
        border-radius: 12px;
        background: #0075f2;
        display: flex;
        width: 100%;
        padding: 12px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        color: #fff;
        font-family: var(--font-instrumentsans);
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        position: relative;
        z-index: 2;

        & svg path {
          stroke-width: 2px;
        }
      }

      .contactText {
        color: #fff;
        font-family: var(--font-inter-tight);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

.ctaSectionSpacing {
  margin-top: 160px;
}

.ctaSection {
  position: relative;
  width: 100%;

  @media (max-width: 600px) {
    margin-top: 80px;
  }

  /* gradient effect BG */
  .orange,
  .green,
  .blue {
    position: absolute;
    z-index: 1;
    bottom: -100px;
    filter: blur(300px);

    @media (max-width: 1024px) {
      filter: blur(160px);
      bottom: -60px;
    }

    @media (max-width: 600px) {
      filter: blur(80px);
    }
  }

  .orange {
    border-radius: 391.127px;
    background: #f16319;
    width: 379.72px;
    height: 391.127px;
    left: 20%;

    @media (max-width: 1024px) {
      width: 270px;
      height: 280px;
    }

    @media (max-width: 600px) {
      width: 170px;
      height: 180px;
      left: 10%;
    }
  }

  .green {
    border-radius: 391.127px;
    background: #e0ee94;
    width: 379.72px;
    height: 391.127px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1024px) {
      width: 270px;
      height: 280px;
    }

    @media (max-width: 600px) {
      width: 170px;
      height: 180px;
    }
  }

  .blue {
    width: 379.72px;
    height: 391.127px;
    border-radius: 391.127px;
    background: #0075f2;
    right: 10%;

    @media (max-width: 1024px) {
      width: 270px;
      height: 280px;
    }

    @media (max-width: 600px) {
      width: 170px;
      height: 180px;
    }
  }

  /* content UI */

  .ctaContentBox {
    z-index: 2;
    position: relative;
  }

  .ctaLabel {
    color: #fff;
    text-align: center;
    font-family: var(--font-inter-tight);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
    letter-spacing: 0.3px;
  }

  .ctaHeading {
    color: #fff;
    text-align: center;
    font-family: "Cal Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    /* 123.81% */
    letter-spacing: 0.1px;
    margin: 10px 0 30px;

    @media (max-width: 600px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .ctaBtn {
    border-radius: 10px;
    background: linear-gradient(90deg, #0075f2 0%, #ed4f2e 100%);
    display: flex;
    padding: 14px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: var(--font-inter-tight);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
    border: 0;
    margin: 0 auto;
    cursor: pointer;
    width: fit-content;

    & svg path {
      stroke-width: 2px;
    }
  }
}