.section {
    padding: 80px 0;
    background: var(--100,
            linear-gradient(180deg, #000d18 0%, #003b79 72.35%, #004d9f 100%));

    @media (max-width: 600px) {
        padding: 40px 0;
    }
}

.sectionHeading {
    & .sectionLabel {
        color: #0075f2;
        text-align: center;
        font-family: var(--font-inter-tight);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.1px;
        text-transform: uppercase;
        display: block;
    }

    & .sectionTitle {
        color: #fff;
        text-align: center;
        font-family: "Cal Sans";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 54.5px;
        /* 121.111% */
        letter-spacing: 0.1px;
        margin: 10px 0 20px;

        @media (max-width: 600px) {
            font-size: 30px;
            line-height: 38px;
        }
    }

    & .sectionDescription {
        color: #fff;
        text-align: center;
        font-family: var(--font-inter-tight);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.3px;
        max-width: 800px;
        margin: 0 auto;

        @media (max-width: 600px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.logoWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 70px 80px;
    margin: 80px auto;
    max-width: 1124px;

    @media (max-width:992px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 50px 30px;
        justify-items: center;
        padding: 0;
    }

    @media (max-width:600px) {
        grid-template-columns: repeat(2, 1fr);
    }

    & .logoCard {
        width: 110px;
        aspect-ratio: 1 / 1;

        display: grid;
        place-items: center;

        background: #fff;
        border-radius: 10px;

        position: relative;

        /* cleaner than outline */
        box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.2);

        /* image */
        & img {
            width: 100%;
            max-width: calc(100% - 12px);
        }

        /* default (desktop) */
        &:nth-child(6n + 1) {
            top: 0;
        }

        &:nth-child(6n + 2) {
            top: 30px;
        }

        &:nth-child(6n + 3) {
            top: 70px;
        }

        &:nth-child(6n + 4) {
            top: 30px;
        }

        /* mobile reset */
        @media (max-width: 922px) {
            & {
                top: 0 !important;
            }
        }


    }
}

.ctaCard {
    width: 100%;
    border-radius: 12px;
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #00427f 0%, #000d19 100%);
    max-width: 1024px;
    margin: 160px auto 0;

    @media (max-width:600px) {
        flex-direction: column;
        gap: 32px;
        margin: 40px 0 0;
        padding: 16px 24px;
    }

    & .ctaContent {
        & .ctaTitle {
            color: #fff;
            font-family: "Cal Sans";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 0.1px;
            margin: 0 0 10px;

            @media (max-width:600px) {
                font-size: 28px;
                line-height: 32px;
            }
        }

        & .ctaText {
            color: #fff;
            font-family: var(--font-inter-tight);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.3px;
        }
    }

    & a {
        background-size: 100% 100% !important;

        @media (max-width:600px) {
            width: 100%;
        }

        &:hover {
            background-size: 120% 100% !important;
        }
    }
}