.CaseStudyTech {
  padding: 80px 0 0;

  @media (max-width: 600px) {
    padding: 40px 0 0;
  }
}

.sectionTitle {
  color: #001730;
  font-family: "Cal Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: 0.1px;
  text-align: left;
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: 600px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.sectionInfo {
  max-width: 1160px;
  text-align: left;
  color: #3d3d3d;
  font-family: var(--font-inter-tight);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin: 10px auto 0;

  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.techContainer {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid currentColor;
  max-width: 1160px;
  margin: 30px auto 0;

  .tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .columnLabel {
      display: block;
      text-align: center;
      color: #fff;
      font-family: var(--inter-tight);
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0.1px;
      text-transform: uppercase;
      padding: 16px 0;
    }
  }

  .tech {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & div {
      & p {
        border-bottom: 1px solid;
        padding: 16px 40px;
        color: #001730;
        font-family: var(--inter-tight);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.1px;
        height: 100%;

        @media (max-width: 600px) {
          padding: 10px 16px;
          font-size: 16px;
          line-height: 24px;
          min-height: 80px;
          display: flex;
          align-items: center;
        }
      }

      &:nth-child(odd) {
        border-right: 1px solid;
      }

      &:last-child,
      &:nth-last-child(2) {
        & p {
          border-bottom: none;
        }
      }
    }
  }
}