
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media(max-width: 1220px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  padding: 24px;
  border-radius: 20px;
  text-align: left;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(max-width: 1320px) {
    padding: 15px;
  }
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 24px;
  background: white;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  flex-direction: column;
}

.card h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.3px;
  color: #001730;
  margin: 30px 60px 10px 0;
  font-family: 'Cal Sans', sans-serif;

  @media(max-width: 1320px) {
    font-size: 22px;
    line-height: 30px;
    margin: 30px 00px 10px 0;
  }
}

.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #3D3D3D;
  margin-bottom: 44px;
  font-family: 'Inter Tight', sans-serif;
}

/* TAGS */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.tags span {
  font-weight: 400;
  font-size: 14px;
  color: #001730;
  padding: 4px 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-family: 'Inter Tight', sans-serif;
  border-radius: 999px;
}

.bottomButton {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 20px;
}

.footerButton {
  font-weight: 500;
  background: transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-align: left;
  width: max-content;
  border: 0;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #001730;
}