.SectionAIDevelopmentPartnerWrapper {
  background: var(--bg-aquaSqueeze);
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;

  @media (max-width: 600px) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .gradientBottom {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }

  & .leftNrightContainer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    z-index: 5;

    @media (max-width: 992px) {
      gap: 50px;
      flex-direction: column;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 40px;
    }

    & .leftContentContainer {
      flex: 1;
      width: 50%;
      height: fit-content;
      position: sticky;
      top: 96px;

      @media (max-width: 992px) {
        position: relative;
        top: 0;
        width: 100%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      & h2 {
        text-align: left;
      }

      & p {
        margin-top: 20px;
        width: 80%;

        @media (max-width: 600px) {
          width: 100%;
          margin-top: 15px;
        }
      }

      & .aiDevCardWrapper {
        margin-top: 54px;
        width: fit-content;
        max-width: 478px;
        background: #282828;
        border-radius: var(--borderRadius);
        padding: 32px;
        position: relative;
        overflow: hidden;

        @media (max-width: 600px) {
          margin-top: 20px;
          display: none;
        }

        &::after {
          content: "";
          left: 164px;
          top: 58px;
          width: 212px;
          height: 272px;
          scale: 1.4;
          z-index: 1;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          background-image: url("data:image/svg+xml,%3Csvg width='295' height='331' viewBox='0 0 295 331' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M250.469 139.306C243.948 141.971 239.088 145.717 235.887 150.543C232.686 155.368 231.329 161.206 231.814 168.054C232.356 174.775 235.557 185.929 241.417 201.515C248.962 221.582 253.11 235.949 253.861 244.615C254.647 253.375 252.647 260.838 247.861 267.006C243.11 273.267 234.693 278.669 222.61 283.214L214.921 286.105L207.131 265.385L211.387 263.784C220.541 260.342 226.169 256.414 228.271 252.002C230.409 247.682 229.266 239.643 224.845 227.882C217.019 207.069 212.002 192.337 209.795 183.686C207.587 175.035 207.454 167.041 209.398 159.706C211.306 152.276 216.237 144.59 223.72 136.981C212.704 136.863 203.003 133.667 195.085 127.057C187.167 120.447 179.646 107.668 172.522 88.7215C165.924 71.1747 161.474 60.1712 159.17 55.711C156.831 51.1576 153.695 48.2355 149.762 46.9449C145.92 45.6198 139.651 46.5925 130.955 49.8629L126.699 51.4637L118.855 30.6035L126.545 27.7118C135.515 24.3381 142.897 22.574 148.69 22.4195C154.483 22.265 160.186 23.9554 165.799 27.4907C171.468 30.8982 176.175 36.0526 179.919 42.954C183.72 49.7276 188.586 61.0011 194.516 76.7746C200.412 92.4547 205.37 103.001 209.39 108.414C213.41 113.826 218.277 117.323 223.991 118.902C229.669 120.389 235.776 119.957 242.31 117.606L250.469 139.306Z' fill='url(%23paint0_linear_13183_20284)'/%3E%3Cpath d='M52.8729 213.619C59.5338 211.327 65.6578 210.941 71.2448 212.462C76.8318 213.983 81.6987 217.479 85.8456 222.951C89.8658 228.363 94.8061 238.863 100.667 254.45C108.211 274.517 114.556 288.057 119.701 295.071C124.881 302.178 131.302 306.475 138.966 307.96C146.664 309.539 156.555 308.057 168.638 303.513L176.327 300.621L168.537 279.901L164.28 281.502C155.126 284.944 148.305 285.698 143.817 283.764C139.363 281.924 134.926 275.123 130.504 263.363C122.678 242.55 116.746 228.162 112.708 220.199C108.669 212.237 103.502 206.137 97.2073 201.899C90.8773 197.568 82.1045 195.035 71.4631 194.243C79.6709 186.895 84.8627 178.098 86.4643 167.908C88.066 157.717 85.305 143.149 78.1812 124.202C71.5838 106.655 67.6824 95.4454 66.4771 90.5721C65.2366 85.6055 65.6705 81.3409 67.7789 77.7782C69.7957 74.2499 75.1522 70.8505 83.8483 67.5801L88.1049 65.9793L80.2617 45.1191L72.5725 48.0109C63.6017 51.3846 56.8866 54.922 52.4272 58.6232C47.9679 62.3244 44.7916 67.354 42.8984 73.7122C40.8786 80.0114 40.7338 86.9904 42.4641 94.6491C44.0678 102.249 47.8349 113.936 53.7655 129.709C59.6611 145.389 62.8797 156.59 63.4215 163.31C63.9633 170.031 62.6056 175.868 59.3484 180.822C56.0562 185.682 51.178 189.381 44.7139 191.919L52.8729 213.619Z' fill='url(%23paint1_linear_13183_20284)'/%3E%3Cpath d='M139.942 107.327L180.235 214.494C182.373 220.18 178.514 226.889 171.612 229.484C164.71 232.08 157.387 229.577 155.249 223.891L114.956 116.723C112.821 111.048 116.677 104.329 123.579 101.733C130.481 99.1377 137.804 101.641 139.942 107.327Z' fill='url(%23paint2_linear_13183_20284)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_13183_20284' x1='158.606' y1='15.6543' x2='254.692' y2='271.149' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_13183_20284' x1='40.5112' y1='60.0684' x2='136.597' y2='315.563' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_13183_20284' x1='123.579' y1='101.733' x2='171.622' y2='229.48' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

          @media (max-width: 1560px) {
            width: 159px;
          }
        }

        & h4 {
          z-index: 5;
          position: relative;
          
          font-weight: 700;
          color: #ffffff;
          margin-top: 20px;
        }

        & p {
          z-index: 5;
          position: relative;
          color: #ffffff;
          margin: 20px 0 39.76px;
        }

        & a {
          z-index: 5;
          position: relative;
        }
      }
    }

    & .rightContentWrapper {
      flex: 1;
      width: 50%;
      position: relative;
      z-index: 5;

      @media (max-width: 992px) {
        width: 100%;
      }

      .cardWrapper {
        display: flex;
        flex-direction: column;
        /* gap: 20px; */

        .cardContainer {
          width: 100%;
          padding: 30px 0;
          overflow: hidden;
          display: flex;
          gap: 15px;
          align-items: start;
          border-bottom: 1px solid #00173026;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border-bottom: 0;

            @media (max-width: 600px) {
              padding-bottom: 0;
            }
          }

          & svg {
            min-width: 24px;
            height: 24px;
          }

          & .iconContainer {
            min-width: 48px;
            min-height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 99rem;
            margin-top: -10px;

            & svg {
              width: 27px;
              min-width: 27px;
              height: 27px;
            }
          }

          & div {
            & h6 {
              
              font-weight: 600;
            }

            & p {
              margin-top: 14.77px;
              @media (max-width: 600px) {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

& .leftContentContainerMobile {
  flex: 1;
  width: 50%;
  display: none;

  @media (max-width: 600px) {
    width: 100%;
    display: block;
  }

  & h2 {
    color: #fff;
    text-align: left;
  }

  & p {
    color: #ffffff;
    margin-top: 20px;
    width: 80%;
  }
}
