/* GifArabibi.module.css */

.wrapper {
  width: 100%;
  padding: 40px 20px;
  background: #ffffff;
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 0 0;

  @media (max-width: 600px) {
    padding: 40px 0 0;
  }
}

.heading h2 {
  text-align: left;
  color: #001730;
  font-family: "Cal Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.1px;
  margin: 0 0 20px;

  @media (max-width: 600px) {
    margin: 0 0 10px;
    font-size: 26px;
    line-height: 36px;
  }
}

.heading p {
  text-align: left;
  color: #3d3d3d;
  font-family: var(inter-tight);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.1px;
  max-width: 648px;
  margin: 0 0 48px;

  @media (max-width: 600px) {
    margin: 0 0 28px;
    font-size: 16px;
    line-heigt: 24px;
  }
}

.gifContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.gifItem {
  border-radius: 12px;
  background: #f9f8f6;
  max-width: 372px;
  min-height: 300px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  cursor: pointer;
}

.gifItem:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
}

.gifImage {
  object-fit: contain;
}

/* Responsive */

@media (max-width: 900px) {
  .gifContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gifContainer {
    grid-template-columns: 1fr;
  }
}
