.container {
  padding: 80px 0;
  text-align: center;
}

.subtitle {
  font-family: var(--font-inter-tight), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #0075f2;
}

.heading {
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #001730;
  margin: 13px 0 40px;
  font-family: "Cal Sans", sans-serif;
  @media (max-width: 960px) {
    font-size: 36px;
    line-height: 40px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media (max-width: 1220px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  padding: 24px;
  border-radius: 20px;
  text-align: left;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1320px) {
    padding: 15px;
  }
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 24px;
  background: white;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  flex-direction: column;
}

.card h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.3px;
  color: #001730;
  margin: 30px 60px 10px 0;
  font-family: "Cal Sans", sans-serif;
  @media (max-width: 1320px) {
    font-size: 22px;
    line-height: 30px;
    margin: 30px 00px 10px 0;
  }
}

.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #3d3d3d;
  margin-bottom: 44px;
  font-family: var(--font-inter-tight), sans-serif;
}

/* TAGS */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.tags span {
  font-weight: 400;
  font-size: 14px;
  color: #001730;
  padding: 4px 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-family: var(--font-inter-tight), sans-serif;
  border-radius: 999px;
}

/* FOOTER */
.bottomButton {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 20px;
}
.footerButton {
  font-weight: 500;
  background: transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-align: left;
  width: max-content;
  border: 0;
  font-family: var(--font-inter-tight), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #001730;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.infoCardWrapper {
  background: linear-gradient(90deg, #00427f 0%, #000d19 100%);
  border-radius: var(--borderRadius);
  padding: 28px 35px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 66.91px auto 0;
  position: relative;
  overflow: visible;
  width: calc(100% - 190px);

  @media (max-width: 992px) {
    width: 100%;
    flex-direction: column;
  }

  & .smallbadge {
    --badgeScale: 50px;
    width: var(--badgeScale);
    height: var(--badgeScale);
    border-radius: 99rem;
    position: absolute;
    left: -20px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201f1f;

    @media (max-width: 992px) {
      left: 50%;
      top: 0px;
      border: 1px solid #414141;
      transform: translate(-50%, -50%);
    }

    & a {
      display: block;
    }
    & svg {
      width: 24px;
      height: 24px;
    }
  }

  & h5 {
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    width: 45%;

    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
  }
}

.infoCardWrapper a {
  background-size: 100% 100% !important;

  &:hover {
    background-size: 200% 100% !important;
  }
}
