.scrolled {
  background-color: var(--primary-dark);
}

.headerWrapper {
  transition: background-color 0.3s ease;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 30;

  @media (max-width: 992px) {
    border-bottom: 1px solid #ffffff40;
  }

  & .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @media (max-width: 600px) {
      padding: 13px 0;
      max-width: calc(100vw - 32px);
      margin: 0 auto;
    }

    & .logoDiv {
      & img {
        width: 170px;
        height: 40px;

        @media (max-width: 600px) {
          width: 149px;
          height: 35px;
        }
      }
    }

    & .navToggle {
      display: none;

      @media (max-width: 992px) {
        display: block;
      }
    }

    & .navMenu {
      @media (max-width: 992px) {
        position: fixed;
        transform: translateY(-400%);
        transition: all 500ms ease-in;
        left: 0;
        overflow-y: auto;
        height: 100%;
        background: #fff;
      }

      & ul {
        display: flex;
        gap: 20px;
        width: 100%;
        list-style: none;

        @media (max-width: 992px) {
          background-color: #fff;
          flex-direction: column;
          width: 100vw;
          height: max-content;
          padding: 40px 32px;
          gap: 0;
        }

        @media (max-width: 600px) {
          height: max-content;
          padding: 24px 16px;
        }

        & li {
          & a,
          & .navLinkDropDown {
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 0.6px;
            color: #fff;
            background-color: transparent;
            border: 0;
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: 3.5px;

            @media (max-width: 992px) {
              color: var(--primary-dark);
              width: 100%;
              justify-content: space-between;
              gap: 12px;
              border-radius: 10px;
              padding: 20px;
              border-radius: var(--borderRadius);
            }

            .labelNicon {
              @media (max-width: 992px) {
                display: flex;
                align-items: center;
                gap: 12px;
              }

              & span {
                text-transform: capitalize;
              }

              & svg path {
                stroke: none;
              }
            }

            & p {
              margin-left: 32px;
            }

            & svg {
              /* width: 20px;
              height: 20px; */

              & path {
                stroke: #fff;

                @media (max-width: 992px) {
                  stroke: var(--primary-dark);
                }
              }
            }
          }
        }
      }
    }
  }
}

.show {
  display: block !important;

  @media (max-width: 992px) {
    max-height: 100% !important;
    padding: 10px 30px;
  }
}

.dropdownWidth {
  position: relative;
  overflow: hidden;
}

.desktopMenuWrapper {
  display: none;
  position: fixed !important;
  z-index: 20;
  /* --- */
  transform: translate(-50%, 0%);
  left: 50%;
  top: 96px;

  @media (max-width: 992px) {
    display: none !important;
  }

  .desktopDropdownMenu {
    list-style: none;
    background-color: #fff;
    padding: 40px 42px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media (max-width: 992px) {
      display: none;
    }

    .contentWrapper {
      display: flex;
      align-items: start;
      gap: 50px;

      & .CTACard {
        max-width: 316px;
        /* height: 421px; */

        background-color: var(--secondary-darkBlue);
        border-radius: var(--borderRadius);
        padding: 30px 26px;
        position: relative;
        overflow: hidden;

        & a {
          width: 100%;
        }

        & h4 {
          font-weight: 700;
          font-style: Bold;
          font-size: 24px;
          leading-trim: NONE;
          line-height: 28px;
          letter-spacing: 0.1px;
        }

        &::after {
          content: "";
          left: 480.54px;
          top: 451px;
          position: absolute;
          width: 110.02px;
          height: 129px;
          background: #0075f2;
          filter: blur(75px);
        }

        & h4 {
          color: #fff;
          z-index: 10;
          font-weight: 700;

          position: relative;
        }

        & p {
          color: #fff;
          z-index: 10;
          position: relative;
          margin: 20px 0 35px;
        }
      }

      & ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px 10px;
        list-style: none;

        & li {
          padding: 0px;
          border-radius: 10px;

          &:hover {
            background: #f6f8fe;
          }

          & .itemContainer {
            display: block;
            border-radius: 10px;
            color: var(--primary-dark);
            transition: all ease-in-out 0.3s;
            padding: 20px;

            &:hover {
              background-color: #f6f8fe;
            }

            & div:first-child {
              display: flex;
              align-items: center;
              gap: 12px;
            }

            & svg {
              width: 20px;
              height: 20px;
            }

            & span {
              font-weight: 600;
              line-height: 22px !important;
            }

            & p {
              font-size: 14px;
              margin-left: 32px;
              margin-top: 5px;
              font-weight: 300;
              max-width: 398px;
            }
          }
        }
      }
    }
  }
}

& .activeState {
  background-color: #f6f8fe !important;
}

& .inActiveState {
  background-color: transparent !important;
}

.navMenu {
  & > ul {
    @media (max-width: 992px) {
      margin-bottom: 200px;
    }

    & li {
      .mobileMenuWrapper {
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
        /* background-color: #fffdf6; */

        border-radius: var(--borderRadius);

        @media (min-width: 992px) {
          display: none !important;
        }

        & .CTACard {
          max-width: 100%;
          /* height: 421px; */

          background-color: var(--secondary-darkBlue);
          border-radius: var(--borderRadius);
          padding: 40px 24px;
          position: relative;
          overflow: hidden;

          &::after {
            content: "";
            left: 480.54px;
            top: 451px;
            position: absolute;
            width: 110.02px;
            height: 129px;
            background: #0075f2;
            filter: blur(75px);
          }

          & h4 {
            color: #fff;
            z-index: 10;
            font-weight: 700;

            position: relative;
          }

          & p {
            color: #fff;
            z-index: 10;
            position: relative;
            margin: 20px 0 35px;
          }

          & a {
            background-color: #0075f2;
            align-items: center;
            justify-content: center;
            color: #fff;
          }
        }

        & .mobileDropdownMenu {
          & .contentWrapper {
            display: flex;
            flex-direction: column-reverse;
            gap: 24px;

            & .itemContainer {
              display: block;
              color: var(--primary-dark);

              & div:first-child {
                display: flex;
                align-items: center;
                gap: 12px;
              }

              & svg {
                width: 20px;
                height: 20px;
              }

              & span {
                font-weight: 600;
                line-height: 22px !important;
              }

              & p {
                margin-left: 32px;
                margin-top: 5px;
                font-weight: 300;
                max-width: 398px;
              }
            }

            & ul {
              /* max-height: 60vh; */
              /* overflow-y: auto; */
              background-color: transparent;
              width: 100%;
              gap: 5px;
              padding: 0 8px 0 0;

              & a {
                background-color: transparent;
                flex-direction: column;
                align-items: flex-start;
              }

              & span {
                @media (max-width: 600px) {
                  font-size: 16px !important;
                  line-height: 24px !important;
                  font-weight: 600;
                }
              }

              & p {
                margin-top: 5px;
                font-weight: 300;
                white-space: wrap;
              }
            }
          }
        }
      }
    }
  }
}

.activeMenu {
  & a {
    color: var(--primary-blue) !important;
    font-weight: 500 !important;

    @media (max-width: 992px) {
      background-color: #f3f3f3 !important;
      color: var(--primary-dark) !important;
    }

    & svg {
      & path {
        stroke: var(--primary-blue) !important;

        @media (max-width: 992px) {
          stroke: var(--primary-dark) !important;
        }
      }
    }
  }
}

.hireDevBtn {
  @media (max-width: 992px) {
    display: none;
  }
}

.open {
  transform: translateY(0) !important;
  top: 93px;
  z-index: 20;

  @media (max-width: 600px) {
    top: 67px;
  }
}

.activeDropdownMobile {
  @media (min-width: 992px) {
    color: #0075f2 !important;

    & svg {
      & path {
        stroke: #0075f2 !important;
      }
    }
  }

  @media (max-width: 992px) {
    background-color: #fffdf6 !important;
  }
}