.SectionFromStartupsToWrapper {
  padding-top: 0;
  padding-bottom: 80px;

  @media (max-width: 600px) {
    padding-bottom: 30px;
  }

  & .headingContent {
    margin-bottom: 51.11px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    & span {

      line-height: 28px;
      text-align: center;
      display: block;
      text-transform: uppercase;
      color: var(--primary-blue);
      margin-bottom: 9.73px;
    }

    & h2 {
      margin: 0 auto;
      max-width: 768px;
      color: var(--primary-dark);
    }
  }

  & .logoWrapper {
    margin-top: 51.11px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;

    @media (max-width: 992px) {
      display: none;
    }

    & .logoContainer {
      background: #FFF;
      border: 1px solid #E5E5E5;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      min-height: 100px;

      & img {
        height: 40px;
        width: 100%;
      }

      /* logo scale*/
      & img {
        align-items: center;
        display: flex;
        justify-content: center;

        &[noimgtag="noImg"] {
          opacity: 0;
        }
      }
    }
  }
}

.logoStripContainer {
  display: none;
  padding-bottom: 40px;

  @media (max-width: 992px) {
    display: block;
  }
}

.topBar {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;

  & img {
    margin: 16px 20.5px;
    display: inline-block;
    animation: rightLeft 10s linear infinite;
  }
}

@keyframes rightLeft {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.bottomBar {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;

  & img {
    margin: 16px 20.5px;
    display: inline-block;
    animation: leftRight 10s linear infinite;
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}