.grooveBayGallary {
  padding: 80px 0;

  @media (max-width: 600px) {
    padding: 40px 0;
  }
}

.gallaryContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.row1,
.row2 {
  max-height: 1024px;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  @media (max-width: 992px) {
    max-height: 600px;
  }

  @media (max-width: 600px) {
    max-height: 320px;
  }

  & img {
    width: 100%;

    @media (max-width: 992px) {
      height: auto;
      object-fit: contain;
    }
  }
}

.row1 {
  padding: 50px 50px 0;
  background-color: #008080;
  display: flex;
  gap: 30px;

  @media (max-width: 992px) {
    gap: 20px;
  }

  @media (max-width: 600px) {
    padding: 24px 24px 0;
    gap: 10px;
  }

  .r1img1 {
    margin-top: 50px;

    @media (max-width: 768px) {
      margin-top: 26px;
    }
  }

  .row1Child {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    @media (max-width: 992px) {
      gap: 20px;
    }

    @media (max-width: 992px) {
      gap: 10px;
    }
  }
}

.row2 {
  background-color: #cb4c4e;
  padding: 0 50px;

  @media (max-width: 600px) {
    padding: 0 24px;
  }

  & img {
    margin-top: -710px;
    width: 100%;
    height: 100%;

    @media (max-width: 992px) {
      margin-top: -450px;
    }

    @media (max-width: 600px) {
      margin-top: -138px;
    }
  }
}

/* =========== GrooveBayGallaryMobile ================= */

.GrooveBayGallaryMobile {
  padding: 80px 0;

  @media (max-width: 600px) {
    padding: 40px 0;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 992px) {
      gap: 20px;
    }

    .gridOne,
    .gridTwo {
      max-height: 1024px;
      border-radius: 12px;
      overflow: hidden;
      width: 100%;
      height: 100%;

      @media (max-width: 992px) {
        max-height: 480px;
      }

      @media (max-width: 600px) {
        max-height: 320px;
      }
    }

    .gridOne {
      padding: 50px 50px 0;
      background-color: #cb4c4e;
      width: 100%;

      & img {
        width: 100%;
        height: auto;
      }

      @media (max-width: 600px) {
        padding: 24px 24px 0;
      }

      & img {
      }
    }

    .combineGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      width: 100%;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
      }
    }

    .gridTwo {
      width: 100%;
      background: #008080;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 700px;
      overflow: hidden;
      border-radius: 12px;
      gap: 100px;

      @media (max-width: 600px) {
        max-height: 360px;
        gap: 80px;
      }

      .mobileImg_1 {
        rotate: 15deg;
        position: relative;
        left: 0px;
        top: 160px;

        @media (max-width: 600px) {
          top: 60px;
        }

        & img {
          @media (max-width: 600px) {
            width: 180px;
            height: auto;
          }
        }
      }
      .mobileImg_2 {
        rotate: 15deg;
        position: relative;
        left: 0px;
        top: -44px;

        @media (max-width: 600px) {
          top: -60px;
        }

        & img {
          @media (max-width: 600px) {
            width: 180px;
            height: auto;
          }
        }
      }
    }

    .gridThree {
      background: #cb4c4e;
      padding: 50px 50px 0;
      max-height: 700px;
      overflow: hidden;
      border-radius: 12px;

      @media (max-width: 600px) {
        max-height: 360px;
        padding: 24px 24px 0;
      }

      .mobileImg_3 {
        & img {
          @media (max-width: 992px) {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
