.section {
    padding: 80px 0;
    background-color: #000D19;

    @media (max-width:600px) {
        padding: 40px 0;
    }
}

.headingNBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width:600px) {
        flex-direction: column;
        gap: 22px;
        margin-bottom: 26px;
    }

    .sectionHeading {

        .sectionLabel {
            color: #0075F2;
            font-family: var(--font-inter-tight);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.3px;
            text-transform: uppercase;

            @media (max-width:600px) {
                display: block;
                text-align: center;
            }
        }

        .sectionTitle {
            color: #FFF;
            font-family: "Cal Sans";
            font-size: 42px;
            font-style: normal;
            font-weight: 400;
            line-height: 52px;
            letter-spacing: 0.1px;
            margin: 10px 0 0;

            @media (max-width:600px) {
                font-size: 30px;
                line-height: 38px;
            }
        }
    }

    .carouselBtns {
        display: flex;
        gap: 10px;

        & button {
            border: none;
            background: transparent;

            & svg path,
            & svg circle {
                stroke: #FFFFFF80;
            }
        }
    }
}

.seeAllBtn {
    display: flex;
    height: 48px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: var(--font-inter-tight);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.3px;
    border-radius: 10px;
    background: #0075F2;
    margin: 40px auto 0;
    border: none;
    width: fit-content;

    @media (max-width:600px) {
        width: 100%;
        margin: 26px 0 0
    }
}