.groovecssContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0 0;

  @media (max-width: 600px) {
    padding: 40px 0 0;
    gap: 20px;
  }
}

.g1,
.g2,
.g3 {
  max-height: 1024px;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  height: 100%;

  @media (max-width: 1390px) {
    max-height: 720px;
  }

  @media (max-width: 992px) {
    max-height: 680px;
  }

  @media (max-width: 600px) {
    max-height: 380px;
  }
}

.g1 {
  padding: 50px 50px 0;

  @media (max-width: 600px) {
    padding: 24px 24px 0;
  }
}

.g1i1 {
  width: 100%;

  & img {
    width: 100%;
    height: auto;

    @media (max-width: 600px) {
      object-fit: contain;
    }
  }
}

.g2 {
  display: flex;
  justify-content: center;
  gap: 46px;
  padding: 0 50px;

  @media (max-width: 1390px) {
    gap: 32px;
  }

  @media (max-width: 600px) {
    padding: 0 24px;
    gap: 16px;
    /* flex-direction: column; */
  }
}

.g2i1,
.g2i2,
.g2i3,
.g2i4 {
  & img {
    width: 100%;
    height: 1024px;

    @media (max-width: 1390px) {
      object-fit: contain;
      height: 100%;
    }
  }
}

.g3i1 {
  position: relative;
  width: 100%;
  height: 1024px;

  @media (max-width: 992px) {
    height: 680px;
  }

  @media (max-width: 600px) {
    height: 380px;
  }

  & img {
    object-fit: cover;
  }
}

/* =========== ArabibiGalleryTwo ============ */

.arabibiGalleryTwo {
  padding: 80px 0;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 600px) {
      padding: 40px 0;
      gap: 20px;
    }
  }
}

.t_r1,
.t_r2,
.t_r3 {
  border-radius: 12px;
  overflow: hidden;
  max-height: 1024px;

  @media (max-width: 1390px) {
    max-height: 720px;
  }

  @media (max-width: 992px) {
    max-height: 640px;
  }

  @media (max-width: 600px) {
    max-height: 480px;
  }
}

.t_r1 {
  .t_r1_img1 {
    position: relative;
    width: 100%;
    height: 1024px;

    @media (max-width: 1390px) {
      height: 720px;
    }

    @media (max-width: 992px) {
      height: 640px;
    }

    @media (max-width: 600px) {
      height: 480px;
    }

    & img {
      object-fit: cover;
    }
  }
}

.t_r2,
.t_r3 {
  padding: 50px 50px 0;

  @media (max-width: 600px) {
    padding: 24px 24px 0;
  }

  & img {
    width: 100%;
    height: auto;

    @media (max-width: 600px) {
      object-fit: contain;
    }
  }
}

/* ============ ArabibiGalleryTwo ============ */
