.getFixedPriceSection {
    background-color: #000D19;
    padding: 100px 0 86px;
    overflow: hidden;
    position: relative;

    @media (max-width:600px) {
        padding: 80px 0 60px;
    }


    .sectionTitle {
        color: #FFF;
        text-align: center;
        font-family: "Cal Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: 0.1px;

        @media (max-width: 600px) {
            font-size: 30px;
            line-height: 38px;
        }
    }

    .sectionInfo {
        color: #FFF;
        text-align: center;
        font-family: var(--font-inter-tight);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.3px;
        margin: 20px auto 30px;
        max-width: 728px;
        width: 100%;

        @media (max-width: 600px) {
            font-size: 16px;
            line-height: 24px;
        }
    }


    .btnContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & a {
            display: inline-flex;
            padding: 14px 30px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #FFF;
            font-family: var(--font-inter-tight);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.3px;

            & svg path {
                stroke-width: 1.8px;
            }
        }

        .btnPri {
            border: none;
            border-radius: 10px;
            background: linear-gradient(90deg, #0075F2 0%, #ED4F2E 100%);
        }

        .btnSec {
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            background-color: transparent;
        }



    }



    /* gradient effect BG */
    .orange,
    .green,
    .blue {
        position: absolute;
        z-index: 1;
        bottom: -500px;
        filter: blur(300px);

        @media (max-width: 1024px) {
            filter: blur(160px);
            bottom: -300px;
        }

        @media (max-width: 600px) {
            filter: blur(80px);
            bottom: -200px;
        }
    }

    .orange {
        border-radius: 391.127px;
        background: #f16319;
        width: 379.72px;
        height: 391.127px;
        left: 20%;

        @media (max-width: 1024px) {
            width: 270px;
            height: 280px;
        }

        @media (max-width: 600px) {
            width: 170px;
            height: 180px;
            left: 10%;
        }
    }

    .green {
        border-radius: 391.127px;
        background: #e0ee94;
        width: 379.72px;
        height: 391.127px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 1024px) {
            width: 270px;
            height: 280px;
        }

        @media (max-width: 600px) {
            width: 170px;
            height: 180px;
        }
    }

    .blue {
        width: 379.72px;
        height: 391.127px;
        border-radius: 391.127px;
        background: #0075f2;
        right: 10%;

        @media (max-width: 1024px) {
            width: 270px;
            height: 280px;
        }

        @media (max-width: 600px) {
            width: 170px;
            height: 180px;
        }
    }

}