.container {
    overflow: hidden;
    position: relative;
    padding: 0 0 80px;

    @media (max-width:600px) {
        padding: 0 0 40px
    }

    &::after {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%221920%22%20height%3D%221605%22%20viewBox%3D%220%200%201920%201605%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20filter%3D%22url(%23filter0_f_16274_13)%22%3E%3Cellipse%20cx%3D%22461.86%22%20cy%3D%22808.602%22%20rx%3D%22189.86%22%20ry%3D%22195.564%22%20fill%3D%22%23F16319%22%2F%3E%3C%2Fg%3E%3Cg%20filter%3D%22url(%23filter1_f_16274_13)%22%3E%3Cellipse%20cx%3D%22882.716%22%20cy%3D%22808.602%22%20rx%3D%22189.86%22%20ry%3D%22195.564%22%20fill%3D%22%23E0EE94%22%2F%3E%3C%2Fg%3E%3Cg%20filter%3D%22url(%23filter2_f_16274_13)%22%3E%3Cellipse%20cx%3D%221480.14%22%20cy%3D%22795.564%22%20rx%3D%22189.86%22%20ry%3D%22195.564%22%20fill%3D%22%230075F2%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3Cfilter%20id%3D%22filter0_f_16274_13%22%20x%3D%22-328%22%20y%3D%2213.0381%22%20width%3D%221579.72%22%20height%3D%221591.13%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%22300%22%20result%3D%22effect1_foregroundBlur_16274_13%22%2F%3E%3C%2Ffilter%3E%3Cfilter%20id%3D%22filter1_f_16274_13%22%20x%3D%2292.8562%22%20y%3D%2213.0381%22%20width%3D%221579.72%22%20height%3D%221591.13%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%22300%22%20result%3D%22effect1_foregroundBlur_16274_13%22%2F%3E%3C%2Ffilter%3E%3Cfilter%20id%3D%22filter2_f_16274_13%22%20x%3D%22690.279%22%20y%3D%220%22%20width%3D%221579.72%22%20height%3D%221591.13%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%22300%22%20result%3D%22effect1_foregroundBlur_16274_13%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
    }
}


.ctaSection {
    position: relative;
    z-index: 2;

    & h2 {
        color: #001730;
        text-align: center;
        font-family: "Cal Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: 0.1px;

        @media (max-width:600px) {
            font-size: 30px;
            line-height: 38px;
        }
    }

    & p {
        color: #3D3D3D;
        text-align: center;
        font-family: var(--font-inter-tight);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.3px;
        margin: 20px 0 30px;

        @media (max-width:600px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.letsDisucsssBtn {
    width: fit-content;
    border-radius: 10px;
    background: linear-gradient(90deg, #0075F2 0%, #ED4F2E 100%);
    display: flex;
    padding: 14px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: var(--font-inter-tight);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 auto;

    & svg path {
        stroke-width: 1.8px;
    }


    &:hover {
        & svg {
            rotate: 45deg;
        }
    }
}