.sectionContainer {
    padding: 0 0 80px;
    background-color: #fff;

    @media (max-width: 600px) {
        padding: 0 0 40px;
    }
}

.contentNarrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 46px;

    @media (max-width:600px) {
        flex-direction: column;
        margin-bottom: 26px;
    }

    .sectionHeading {
        & .sectionLabel {
            color: #0075f2;
            text-align: center;
            font-family: var(--font-inter-tight);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.1px;
            text-transform: uppercase;
            text-align: left;
            display: block;

            @media (max-width: 600px) {
                text-align: center;
            }
        }

        & .sectionTitle {
            color: #001730;
            text-align: center;
            font-family: "Cal Sans";
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 56px;
            letter-spacing: 0.1px;
            text-align: left;

            @media (max-width: 600px) {
                text-align: center;
                font-size: 30px;
                line-height: 38px;
            }
        }
    }

    .carouselNavigation {
        display: flex;
        align-items: center;
        gap: 10px;

        & button {
            background-color: transparent;
            border: none;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}


.carouselContainer {
    @media screen and (max-width:600px) {
        padding: 0 24px;
    }
}

.card {
    border-radius: 12px;
    background: linear-gradient(222deg, #ebf5ff 3.67%, #ffebe7 100%);
    padding: 30px;
    min-height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width:600px) {
        min-height: 320px;
    }

    .cardContent {
        .cardTitle {
            color: #001730;
            font-family: "Cal Sans";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            /* 116.667% */
            letter-spacing: 0.1px;
        }

        .cardDesc {
            color: #3d3d3d;
            font-family: var(--font-inter-tight);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.3px;
            margin: 10px 0 0;
            min-height: 80px;
        }
    }

    .cardImg {
        display: block;
        margin-top: auto;
        margin-bottom: 0;

        width: 100%;
        height: fit-content;
        max-width: 374px;

        & img {
            width: 100%;
            /* height: 100%; */
        }

        @media (max-width: 600px) {
            margin-top: 32px;
        }
    }
}